import(STRINGdb)
import(data.table)
import(gplots)
import(graphics)
import(igraph)
import(rBiopaxParser)
import(Biobase)
import(BiocGenerics)
import(biomaRt)
importFrom(AnnotationHub, AnnotationHub)
importFrom(AnnotationHub, query)
import(AnnotationDbi)
importClassesFrom(GenomicRanges, GRanges)


S3method(print, OmicsData)
export(readOmics)
export(readTFdata)
export(readPWdata)
export(identifyPWs)
export(identifyTFs)
export(enrichTFs)
export(enrichPWs)
export(identifyPWTFTGs)
export(identifyRsofTFs)
export(getOmicsTimepoints)
export(getOmicsallGeneIDs)
export(getOmicsallProteinIDs)
export(getOmicsDataset)
export(getDS_PWs)
export(getDS_TFs)
export(getDS_TGs)
export(getUS_TFs)
export(getUS_PWs)
export(getUS_regulators)
export(getBiopaxModel)
export(getProteinIntersection)
export(getTFIntersection)
export(getGenesIntersection)
export(gettpIntersection)
export(staticConsensusNet)
export(dynamicConsensusNet)
export(clusterTimeProfiles)
export(plotConsensusGraph)
export(plotdynConsensusNet)
export(plotTimeProfileClusters)