import(graphics)
import(BiocGenerics)
import(STRINGdb)
import(data.table)
import(gplots)
import(rBiopaxParser)
import(Biobase)
importFrom(igraph, decompose.graph, V, E, add.edges, get.all.shortest.paths, minimum.spanning.tree, degree, delete.vertices, induced.subgraph, igraph.from.graphNEL, get.vertex.attribute, neighborhood, layout.fruchterman.reingold, graph.adjacency, plot.igraph, "V<-")
import(biomaRt)
importFrom(AnnotationHub, AnnotationHub)
importFrom(AnnotationHub, query)
import(AnnotationDbi)
importClassesFrom(GenomicRanges, GRanges)


S3method(print, OmicsData)
export(readOmics)
export(readTFdata)
export(readPWdata)
export(identifyPWs)
export(identifyTFs)
export(enrichTFs)
export(enrichPWs)
export(identifyPWTFTGs)
export(identifyRsofTFs)
export(getOmicsTimepoints)
export(getOmicsallGeneIDs)
export(getOmicsallProteinIDs)
export(getOmicsDataset)
export(getDS_PWs)
export(getDS_TFs)
export(getDS_TGs)
export(getUS_TFs)
export(getUS_PWs)
export(getUS_regulators)
export(getBiopaxModel)
export(getProteinIntersection)
export(getTFIntersection)
export(getGenesIntersection)
export(gettpIntersection)
export(staticConsensusNet)
export(dynamicConsensusNet)
export(clusterTimeProfiles)
export(plotConsensusGraph)
export(plotdynConsensusNet)
export(plotTimeProfileClusters)