import(graphics)
import(BiocGenerics)
import(STRINGdb)
import(data.table)
import(gplots)
import(rBiopaxParser)
import(Biobase)
importFrom(igraph, decompose.graph, V, E, add.edges, get.all.shortest.paths, minimum.spanning.tree, degree, delete.vertices, induced.subgraph, igraph.from.graphNEL, get.vertex.attribute, neighborhood, layout.fruchterman.reingold, graph.adjacency, plot.igraph, "V<-", "E<-", graph.data.frame)
import(biomaRt)

importFrom(AnnotationHub, AnnotationHub)
importFrom(AnnotationHub, query)
import(AnnotationDbi)
importClassesFrom(GenomicRanges, GRanges)
importFrom(graph, nodes)

importFrom("grDevices", "colorRampPalette", "dev.off", "pdf", "rainbow")
importFrom("stats", "na.omit", "predict", "qnorm", "smooth.spline", "ts")
importFrom("utils", "read.csv", "read.delim", "write.csv")

S3method(print, OmicsData)
export(readOmics)
export(readTFdata)
export(readPWdata)
export(identifyPWs)
export(identifyTFs)
export(identifyPWTFTGs)
export(identifyRsofTFs)
export(getOmicsTimepoints)
export(getOmicsallGeneIDs)
export(getOmicsallProteinIDs)
export(getOmicsDataset)
export(getDS_PWs)
export(getDS_TFs)
export(getDS_TGs)
export(getUS_TFs)
export(getUS_PWs)
export(getUS_regulators)
export(getBiopaxModel)
export(getProteinIntersection)
export(getTFIntersection)
export(getGenesIntersection)
export(gettpIntersection)
export(staticConsensusNet)
export(consDynamicNet)
export(clusterTimeProfiles)
export(plotConsensusGraph)
export(plotConsDynNet)
export(plotConsensusProfiles)
export(plotTimeProfileClusters)
export(findSignalingAxes)
export(get_matching_transcripts)
export(generate_DSSignalingBase)
export(readPhosphodata)
export(identifyPR)
export(infoConsensusGraph)
export(temp_correlations)
